body {
    background: #F7F7F7;
    font-family: Verdana;
    width: 900px;
    margin: auto;
}

.photo {
    border: 1px solid #505050;
    border-radius: 30%;
    width: 100px;
    height: 100px;

}

#title,  subtitle,  post_title {
    color: black;
}

.post_title {
    font-size: 16px;
    font-style: bold;
    margin: 0;
    margin-bottom: 15px;

}
.post {
    background: white;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 10px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-decoration: capitalize;
}
.post_image {
    margin-bottom: 15px;
    width: 100%;
}

.contacts_list {
    list-style-type: none;
    
}

